* {
    margin: 0;
    }

body {
    margin: 0;
    }

    #topodosite {
        margin: 0 auto;
        width: 100%;
        }

        #logotipo {
            margin: 0;
            width: 100%;
            background: #333;
            }

            .logo {
                margin: 1% 40%;
                width: 20%;
                }

        #banner {
            margin: 0;
            width: 100%;
            height: auto;
            float: left;
            }

            .propaganda {
                width: 100%;
                }

        #menu {
            margin: 0;
            padding: 10px 0;
            width: 100%;
            height: 30px;
            background: #f60;
            float: left;
            }

            #menu ul {
                margin: 0;
                width: 100%;
                }

                #menu ul li {
                    display: inline;
                    width: 25%;
                    text-align: center;
                    float: left;
                    }